{% load staticfiles %}
<html>
<head>
<meta charset="utf-8">
<title>pyswift-index</title>
<link href="{% static 'css/main-interface.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="layouApp">
	<div class="header">
		<div class="left">
			<img src="{% static 'img/cloud.jpg' %}">
		</div>
		<div class="midder">
			<a href="#"> 网盘</a>&nbsp;&nbsp;
			<a href="#">分享</a>&nbsp;&nbsp;
			<a href="#"> 更多</a>&nbsp;&nbsp;&nbsp;
		</div>
		<div class="right">
		<a href="{% url 'register' %}">注册</a>&nbsp;|
		<a href="{% url 'login' %}">登录</a>
		</div>


	</div>
	<div class="box-left">
		<div class="top">
			<li><a  class="top-font" href="#">网盘</a></li>
			<div class="no"></div>
			<li><a  class="top-font" href="#">视频</a></li>
			<div class="no"></div>
			<li><a  class="top-font" href="#">图片</a></li>
			<div class="no"></div>
			<li><a  class="top-font" href="#">种子</a></li>
			<div class="no"></div>
			<li><a  class="top-font" href="#">其他</a></li>
			<div class="no"></div>
			<li><a  class="top-font" href="#">回收站</a></li>
		</div>
	</div>
	<div class="box-right">
		<div class="top">

			<table>
			<tr>
				<td>网盘名</td>
				<td>存储数量</td>
				<td>Bytes大小</td>
			</tr>
				{% for container in containers %}
			<tr>
				<td><a href="{% url 'perview' container.name None %}">{{container.name}}</a></td>
				<td>{{container.count}}</td>
				<td>{{container.bytes}}</td>
			</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

</body>
</html>